In [1]:
import pandas as pd
import numpy as np

In [2]:
# import csv to df
salary_df2 = pd.read_csv("../imported_data/salary_data2.csv")
salary_df2.head()

FileNotFoundError: [Errno 2] File ../imported_data/salary_data2.csv does not exist: '../imported_data/salary_data2.csv'

In [ ]:
# select the columns to keep 
salary_df2 = salary_df2[["Q1","Q2","Q3","Q4","Q5","Q6","Q7","Q8","Q10","Q13_Part_1","Q13_Part_2","Q13_Part_3","Q13_Part_4","Q13_Part_5","Q13_Part_6","Q13_Part_7","Q13_Part_8","Q13_Part_9","Q13_Part_10","Q13_Part_11","Q13_Part_12","Q14","Q15","Q16_Part_1","Q16_Part_2","Q16_Part_3","Q16_Part_4","Q16_Part_5","Q16_Part_6","Q16_Part_7","Q16_Part_8","Q16_Part_9","Q16_Part_10","Q16_Part_11","Q16_Part_12","Q18_Part_1","Q18_Part_2","Q18_Part_3","Q18_Part_4","Q18_Part_5","Q18_Part_6","Q18_Part_7","Q18_Part_8","Q18_Part_9","Q18_Part_10","Q18_Part_11","Q18_Part_12","Q19","Q20_Part_1","Q20_Part_2","Q20_Part_3","Q20_Part_4","Q20_Part_5","Q20_Part_6","Q20_Part_7","Q20_Part_8","Q20_Part_9","Q20_Part_10","Q20_Part_11","Q20_Part_12","Q23","Q24_Part_1","Q24_Part_2","Q24_Part_3","Q24_Part_4","Q24_Part_5","Q24_Part_6","Q24_Part_7","Q24_Part_8","Q24_Part_9","Q24_Part_10","Q24_Part_11","Q24_Part_12","Q28_Part_1","Q28_Part_2","Q28_Part_3","Q28_Part_4","Q28_Part_5","Q28_Part_6","Q28_Part_7","Q28_Part_8","Q28_Part_9","Q28_Part_10","Q28_Part_11","Q28_Part_12","Q29_Part_1","Q29_Part_2","Q29_Part_3","Q29_Part_4","Q29_Part_5","Q29_Part_6","Q29_Part_7","Q29_Part_8","Q29_Part_9","Q29_Part_10","Q29_Part_11","Q29_Part_12","Q34_Part_1","Q34_Part_2","Q34_Part_3","Q34_Part_4","Q34_Part_5","Q34_Part_6","Q34_Part_7","Q34_Part_8","Q34_Part_9","Q34_Part_10","Q34_Part_11","Q34_Part_12"]]
salary_df2.head()

In [ ]:
# drop the first row that included the extra question column
salary_df2 = salary_df2.drop(salary_df2.index[0])
salary_df2

In [ ]:
salary_df2.dtypes

In [ ]:
# renamed the columns to a more informative title 
salary_df2= salary_df2.set_axis(["age","gender","country","education","title","size","data_prof_size","mach_learn_presence","salary",
                                 "udacity","coursera","edx","datacamp","dataquest","kaggle","fastai","udemy","linkedin","university","plat_none","plat_other",
                                 "prime_tool",
                                 "length_coding",
                                 "jupyter","rstudio","pycharm","atom","matlab","vsc","spyder","vim_emacs","notepad++","sublime","env_none","env_other",
                                 "python","r","sql","c","c++","java","javascript","typescript","bash","lan_matlab","lan_none","lan_other",
                                 "first_program",
                                 "ggplot","matplotlib","altair","shiny","d3","plotly","bokeh","seaborn","geoplotlib","leaflet","vis_none","vis_other",
                                 "years_mach_learn","regression","tree_forest","gradient_boost","bayesian","evolutionary","dnn","cnn","gan","rnn","bert","mach_none","mach_other",
                                 "scikit","tensor_flow","keras","random_forest","xgboost","pytorch","caret","lightgbm","sparkmlib","fastai_2","frame_none","frame_other",
                                 "gcp","aws","azure","ibm_cloud","alibaba_cloud","salesforce_cloud","oracle_cloud","sap_cloud","vmware_cloud","redhat_cloud","cloud_none","cloud_other",
                                 "mysql","postgres","sql_lite","sqlserver","oracle","micro_acess","aws_data","aws_dynamo","azure_sql","google_sql","database_none","database_other"], 
                                axis='columns', inplace=False)
salary_df2.head()

In [ ]:
# replacted the nans with 0 values 
salary_df2 = salary_df2.replace(np.nan, 0)
salary_df2

In [ ]:
# brief check that the value counts match the columns 
salary_df2["udacity"].value_counts()

In [ ]:
# replacing value names from strings to 1 

replace_columns = ("udacity","coursera","edx","datacamp","dataquest","kaggle","fastai","udemy","linkedin","university","plat_none","plat_other",
                                 "jupyter","rstudio","pycharm","atom","matlab","vsc","spyder","vim_emacs","notepad++","sublime","env_none","env_other",
                                 "python","r","sql","c","c++","java","javascript","typescript","bash","lan_matlab","lan_none","lan_other",
                                 "ggplot","matplotlib","altair","shiny","d3","plotly","bokeh","seaborn","geoplotlib","leaflet","vis_none","vis_other",
                                 "years_mach_learn","regression","tree_forest","gradient_boost","bayesian","evolutionary","dnn","cnn","gan","rnn","bert","mach_none","mach_other",
                                 "scikit","tensor_flow","keras","random_forest","xgboost","pytorch","caret","lightgbm","sparkmlib","fastai_2","frame_none","frame_other",
                                 "gcp","aws","azure","ibm_cloud","alibaba_cloud","salesforce_cloud","oracle_cloud","sap_cloud","vmware_cloud","redhat_cloud","cloud_none","cloud_other",
                                 "mysql","postgres","sql_lite","sqlserver","oracle","micro_acess","aws_data","aws_dynamo","azure_sql","google_sql","database_none","database_other")



for column in replace_columns:
    boolean_condition = salary_df2[column] != 0
    new_value = 1
    salary_df2.loc[boolean_condition, column] = new_value

salary_df2

In [ ]:
# checking if strings converted to 1 
salary_df2["udacity"].value_counts()

In [ ]:
# splitting the age column from ranges to two seprate values
age = salary_df2['age'].str.split('-', 1, expand=True)
age[0] = age[0].str.replace('+', ' ')
age.dtypes

In [ ]:
# coverting the objects to numerics 
age[0] = pd.to_numeric(age[0])
age[1] = pd.to_numeric(age[1])
age

In [ ]:
# taking the average of the ages 
avg_age = (age[0]+age[1])/2
avg_age

In [ ]:
# replacing the age column to average age 
salary_df2['age'] = avg_age
salary_df2.head()

In [ ]:
# splitting the salary from a range into two columns 
salary = salary_df2['salary'].str.split('-', 1, expand=True)
salary

In [ ]:
# getting rid of extra characters from the salary column 
salary[0] = salary[0].str.replace('$', '')
salary[0] = salary[0].str.replace(',', '')
salary[0] = salary[0].str.replace('>', '')

salary[1] = salary[1].str.replace(',', '')
salary[1] = salary[1].str.replace('>', '')


salary

In [ ]:
# replacing salary nans to 0 values 
salary = salary.replace(np.nan, 0)
salary

In [ ]:
salary.dtypes

In [ ]:
# changing the objects to ints in the salary column
salary[0] = pd.to_numeric(salary[0])
salary[1] = pd.to_numeric(salary[1])
salary

In [ ]:
# taking the average salary from the range
avg_salary = (salary[0]+salary[1])/2
avg_salary

In [ ]:
# replacing the originak salary column for an average salary 
salary_df2['salary'] = avg_salary
salary_df2

In [ ]:
# filter where salary is >0 
salary_df2 = salary_df2.loc[salary_df2['salary'] > 0]
salary_df2

In [ ]:
# eliminating any remaining columns with student values
salary_df2 = salary_df2.loc[salary_df2['title'] != 'Student']
salary_df2

In [ ]:
salary_df2['size'].value_counts()

In [ ]:
# making a company size classification
salary_df2.loc[salary_df2['size'] == '0-49 employees', 'size']  = 'small'
salary_df2.loc[salary_df2['size'] == '50-249 employees', 'size'] = 'small'
salary_df2.loc[salary_df2['size'] == '250-999 employees', 'size'] = 'small'
salary_df2.loc[salary_df2['size'] == '1000-9,999 employees', 'size'] = 'medium'
salary_df2.loc[salary_df2['size'] == '> 10,000 employees', 'size'] = 'large'
salary_df2

In [ ]:
salary_df2.reset_index(drop=True, inplace=True)
salary_df2

In [ ]:
# make id row - very last step, then reset index
salary_df2.to_csv("../exported_data/salary_data2.csv", index=True)

In [ ]:
##############Sandy###################################################

In [ ]:
import pandas as pd

In [ ]:
# import csv to df
salary_df1 = pd.read_csv("../imported_data/salary_data1.csv", header=3)
salary_df1.head()

In [ ]:
# take only the columns we need
salary_df1 = salary_df1[["Survey Year", "SalaryUSD", "Country", "PrimaryDatabase", "YearsWithThisDatabase", "EmploymentStatus", "JobTitle", "ManageStaff", "YearsWithThisTypeOfJob", "OtherPeopleOnYourTeam", "DatabaseServers", "Education", "EducationIsComputerRelated", "Certifications", "HoursWorkedPerWeek", "TelecommuteDaysPerWeek", "EmploymentSector"]]
salary_df1

In [ ]:
# check the datatypes to see what needs to be changed
salary_df1.dtypes

In [ ]:
# take out non-integer characters in the salary column
salary_df1["SalaryUSD"] = salary_df1["SalaryUSD"].str.replace(",", "")
salary_df1["SalaryUSD"] = salary_df1["SalaryUSD"].str.replace(" ", "")
salary_df1["SalaryUSD"] = salary_df1["SalaryUSD"].str.replace("$", "")
# change the salary type to float
salary_df1["SalaryUSD"] = salary_df1["SalaryUSD"].astype(float)
# check to make sure the salary column is correct data type
salary_df1.dtypes

In [ ]:
# only take salaries that are greater than 1000 to get rid of low outliers
salary_df1 = salary_df1.loc[salary_df1["SalaryUSD"] > 1000]
salary_df1

In [ ]:
# take out incorrect/nonsensical data from "YearsWithThisDatabase"
salary_df1 = salary_df1.loc[(salary_df1["YearsWithThisDatabase"] < 2050)]
salary_df1 = salary_df1.loc[(salary_df1["YearsWithThisDatabase"] != 1050)]
salary_df1

In [ ]:
# some people entered the year they started instead of amount of years worked in the column "YearsWithThisDatabase"
# this loop takes the year they started and subtracts it from the year they took the survey to get the total yeras worked there
for index, row in salary_df1.iterrows():
    if row[4] > 1000:
        number = row[0] - row[4]
        # print out the number to make sure it worked
        print(number)
        salary_df1.at[index, "YearsWithThisDatabase"] = number

In [ ]:
# sort in descending order to make sure numbers in the 2000s don't appear in the "YearsWithThisDatabase" column
salary_df1.sort_values("YearsWithThisDatabase", ascending = False)

In [ ]:
# we only needed the "survey year" column to complete the previous step, so we are removing it now
del salary_df1["Survey Year"]
salary_df1

In [ ]:
# import the country to regions csv
country_to_region_df = pd.read_csv("../imported_data/country_to_region.csv")
country_to_region_df

In [ ]:
# merge salary df with county to region df so each row specifies the region as well as country
merged_df = pd.merge(salary_df1, country_to_region_df, on="Country", how="outer")
merged_df

In [ ]:
# deleted the last row because it was all NaN's
merged_df = merged_df[:-1]
merged_df

In [ ]:
# rename all column headers to be lowercase to fit postgres format
merged_df.columns = map(str.lower, merged_df.columns)
merged_df

In [ ]:
# makes a column called id to be used as the primary key
merged_df = merged_df.reset_index()
merged_df = merged_df.rename(columns={"index":"id"})
merged_df

In [ ]:
# get list of columns to make postgresql schema
merged_df.keys()

In [ ]:
# get data types of columns to make postgresql schema
merged_df.dtypes

In [ ]:
# load the cleaned df to a csv
merged_df.to_csv("../exported_data/salary_data1.csv")

In [ ]:
# Configure settings for RDS
from config import sandy_RDS_username
from config import sandy_RDS_password
from config import sandy_RDS_endpoint
from sqlalchemy import create_engine

rds_connection_string = f'{sandy_RDS_username}:{sandy_RDS_password}@{sandy_RDS_endpoint}:5432/predict_salary_db'
engine = create_engine(f'postgresql://{rds_connection_string}')


# check that connection worked
engine.table_names()

In [ ]:
# adds dataframe to RDS
merged_df.to_sql(name='salary_data1', con=engine, if_exists='append', index=False)

In [ ]:
# Check to confirm that data was loaded successfully
pd.read_sql_query('select * from salary_data1', con=engine).head()