## Basic Stats for Visualizations with Dataset2

In [1]:
# import dependencies
import pandas as pd
import numpy as np

In [2]:
# import clean csv to df
salary_df2 = pd.read_csv("../exported_data/salary_data2.csv")
salary_df2.head()

/Users/kasiakalemba/opt/anaconda3/envs/PythonData2020_1/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,age,gender,country,education,title,size,data_prof_size,mach_learn_presence,salary,...,aws_data,aws_dynamo,azure_sql,google_sql,database_none,database_other,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113
0,0,23,Male,France,Master’s degree,Software Engineer,medium,0,I do not know,34999.5,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,1,42,Male,India,Professional degree,Software Engineer,large,20+,"We have well established ML methods (i.e., mod...",6249.5,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,2,42,Male,Australia,Master’s degree,Other,large,20+,I do not know,275000,...,0,0,1,0,0,0,NaN,NaN,NaN,NaN
3,3,23,Male,India,Bachelor’s degree,Other,small,0,No (we do not use ML methods),4499.5,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,4,52,Male,France,Master’s degree,Data Scientist,small,4-Mar,"We have well established ML methods (i.e., mod...",64999.5,...,1,0,0,0,0,0,NaN,NaN,NaN,NaN

In [3]:
# load region data
country_to_region_df = pd.read_csv("../imported_data/country_to_region.csv")
country_to_region_df= country_to_region_df.set_axis(["country", "region"], 
                                axis='columns', inplace=False)
country_to_region_df.head()

     country          region
0     Canada   North America
1     Russia  Eastern Europe
2  Indonesia            Asia
3  Argentina   Latin America
4   Colombia   Latin America

### Merged dataset with the countries region

In [ ]:
# merge the two dfs together
merged_df = pd.merge(salary_df2, country_to_region_df, on="country", how="inner")
merged_df.head()

## Basic Counts

In [ ]:
# check how many regions there are
merged_df['region'].value_counts()

In [ ]:
# job title total 
title_count = salary_df2["title"].value_counts()
title_count

In [ ]:
country_counts = salary_df2["country"].value_counts()
country_counts

## Languages Stats based on the whole datset

In [ ]:
# total language counts
python_count = salary_df2["python"].value_counts()
r_count = salary_df2["r"].value_counts()
sql_count = salary_df2["sql"].value_counts()
c_count = salary_df2["c"].value_counts()
cplusplus_count = salary_df2["c++"].value_counts()
java_count = salary_df2["java"].value_counts()
javascript_count = salary_df2["javascript"].value_counts()
typescript_count = salary_df2["typescript"].value_counts()
bash_count = salary_df2["bash"].value_counts()
matlab_count = salary_df2["lan_matlab"].value_counts()
lannone_count = salary_df2["lan_none"].value_counts()
lanother_count = salary_df2["lan_other"].value_counts()

In [ ]:
overall_lan_counts = pd.concat([python_count, r_count, sql_count, c_count, cplusplus_count, java_count, javascript_count,
                typescript_count, bash_count, matlab_count, lannone_count, lanother_count ], axis= 1)
overall_lan_counts

In [ ]:
overall_lan_counts = overall_lan_counts.transpose()
overall_lan_counts.head()

In [ ]:
total_per = ((overall_lan_counts[1]/(overall_lan_counts[0]+overall_lan_counts[1]))*100).round(2)
total_per.head()

In [ ]:
overall_lan_counts['percentage to of total'] = total_per

In [ ]:
overall_lan_counts = overall_lan_counts.set_axis(['does not use','use','% of total used'], axis='columns', inplace=False)
overall_lan_counts.head()

In [ ]:
# overall_lan_counts.to_csv("lan_world.csv", index=True)

## Tools Counts for the world

In [ ]:
ggplot = salary_df2["ggplot"].value_counts()
matplotlib = salary_df2["matplotlib"].value_counts()
altair = salary_df2["altair"].value_counts()
shiny = salary_df2["shiny"].value_counts()
d3 = salary_df2["d3"].value_counts()
plotly = salary_df2["plotly"].value_counts()
bokeh = salary_df2["bokeh"].value_counts()
seaborn = salary_df2["seaborn"].value_counts()
geoplotlib = salary_df2["geoplotlib"].value_counts()
leaflet = salary_df2["leaflet"].value_counts()
visnone = salary_df2["vis_none"].value_counts()
visother = salary_df2["vis_other"].value_counts()

In [ ]:
overall_tool_counts = pd.concat([
ggplot,
matplotlib,
altair,
shiny,
d3,
plotly,
bokeh,
seaborn,
geoplotlib,
leaflet,
visnone,
visother,
    
], axis= 1)
overall_tool_counts

In [ ]:
overall_tool_counts = overall_tool_counts.transpose()
overall_tool_counts.head()

In [ ]:
total_per_tool = ((overall_tool_counts[1]/(overall_tool_counts[0]+overall_tool_counts[1]))*100).round(2)
total_per_tool.head()

In [ ]:
overall_tool_counts['percentage total'] = total_per_tool

In [ ]:
overall_tool_counts = overall_tool_counts.set_axis(['does not use','use','% of total used'], axis='columns', inplace=False)
overall_tool_counts.head()

In [ ]:
# overall_tool_counts.to_csv("tools_world.csv", index=True)

## Machine Learning Models

In [ ]:
regression = salary_df2["regression"].value_counts()
trees_forests = salary_df2["tree_forest"].value_counts()
gradient_boost = salary_df2["gradient_boost"].value_counts()
bayesian = salary_df2["bayesian"].value_counts()
evolutionary = salary_df2["evolutionary"].value_counts()
dnn = salary_df2["dnn"].value_counts()
cnn = salary_df2["cnn"].value_counts()
gan = salary_df2["gan"].value_counts()
rnn = salary_df2["rnn"].value_counts()
bert = salary_df2["bert"].value_counts()
machnone = salary_df2["mach_none"].value_counts()
machother = salary_df2["mach_other"].value_counts()

In [ ]:
overall_mach_counts = pd.concat([
regression,
trees_forests,
gradient_boost,
bayesian,
evolutionary,
dnn,
cnn,
gan,
rnn,
bert,
machnone,
machother,
    
], axis= 1)
overall_mach_counts

In [ ]:
overall_mach_counts = overall_mach_counts.transpose()
overall_mach_counts.head()

In [ ]:
total_mach_tool = ((overall_mach_counts[1]/(overall_mach_counts[0]+overall_mach_counts[1]))*100).round(2)
total_mach_tool.head()

In [ ]:
overall_mach_counts['percentage total'] = total_mach_tool

In [ ]:
overall_mach_counts = overall_mach_counts.set_axis(['does not use','use','% of total used'], axis='columns', inplace=False)
overall_mach_counts.head()

In [ ]:
# overall_mach_counts.to_csv("mach_world.csv", index=True)

## Database Models

In [4]:
mysql_count = salary_df2["mysql"].value_counts()
postgres_count = salary_df2["postgres"].value_counts()
sql_lite_count = salary_df2["sql_lite"].value_counts()
sqlserver_count = salary_df2["sqlserver"].value_counts()
oracle_count = salary_df2["oracle"].value_counts()
micro_acess_count = salary_df2["micro_acess"].value_counts()
aws_data_count = salary_df2["aws_data"].value_counts()
aws_dynamo_count = salary_df2["aws_dynamo"].value_counts()
azure_sql_count = salary_df2["azure_sql"].value_counts()
google_sql_count = salary_df2["google_sql"].value_counts()
data_none_count = salary_df2["database_none"].value_counts()
data_other_count = salary_df2["database_other"].value_counts()

In [5]:
mysql_count

0               5796
0               5693
1               2396
1                746
redhat_cloud       1
Name: mysql, dtype: int64

In [ ]:
overall_database_counts = pd.concat([
mysql_count,
postgres_count,
sql_lite_count,
sqlserver_count,
oracle_count,
micro_acess_count,
aws_data_count,
aws_dynamo_count,
azure_sql_count,
google_sql_count,
data_none_count,
data_other_count
    
], axis= 1)
overall_database_counts

In [ ]:
overall_database_counts = overall_database_counts.transpose()
overall_database_counts.head()

In [ ]:
overall_database_counts.to_csv("../exported_data/database_world.csv", index=True)

## Looking at basic info based on region

In [ ]:
# look at salary ranges
region = merged_df.groupby("region")
region_salary = pd.DataFrame(region["salary"].mean()).rename(columns={"salary":"avg salary"}).round(0)
region_salary.head()

In [ ]:
# job title based on region
region_title = pd.DataFrame(region["title"].value_counts()).rename(columns={"title":"title counts"})
region_title.head()

In [ ]:
# look at gender stats
region_gender = pd.DataFrame(region["gender"].value_counts()).rename(columns={"gender":"gender counts"})
region_gender.head()

In [ ]:
# look at education counts
region_education = pd.DataFrame(region["education"].value_counts()).rename(columns={"education":"level of education"})
region_education.head()

## Languages knowledge based on region

In [ ]:
# language value counts by region
region_python_count = region["python"].value_counts()
region_r_count = region["r"].value_counts()
region_sql_count = region["sql"].value_counts()
region_c_count = region["c"].value_counts()
region_cplusplus_count = region["c++"].value_counts()
region_java_count = region["java"].value_counts()
region_javascript_count = region["javascript"].value_counts()
region_typescript_count = region["typescript"].value_counts()
region_bash_count = region["bash"].value_counts()
region_matlab_count = region["lan_matlab"].value_counts()
region_lannone_count = region["lan_none"].value_counts()
region_lanother_count = region["lan_other"].value_counts()

In [ ]:
# merge all the columns for the region data
overall_lan_region_counts = pd.concat([region_python_count, region_r_count, region_sql_count, region_c_count, 
                                       region_cplusplus_count, region_java_count, region_javascript_count,
                region_typescript_count, region_bash_count,region_matlab_count, region_lannone_count, region_lanother_count ], axis= 1)
overall_lan_region_counts.head()

In [ ]:
# transpose the datset 
overall_lan_region_counts = overall_lan_region_counts.transpose()
overall_lan_region_counts.head()

In [ ]:
# rename the region columns
overall_lan_region_counts.columns = ['africa_1','africa_2',
                                     'asia_1','asia_2',
                                     'aus_1','aus_2',
                                     'ee_1','ee_2',
                                     'la_1','la_2',
                                     'me_1','me_2',
                                     'na_1','na_2',
                                     'sa_1','sa_2',
                                     'we_1','we_2']
overall_lan_region_counts.head()

In [ ]:
# percantage by region calculation test
total_per_af = ((overall_lan_region_counts['africa_2']/(overall_lan_region_counts['africa_1']
                                                            +overall_lan_region_counts['africa_2']))*100).round(2)
total_per_af.head()

In [ ]:
# percantage by region for remaining regions
total_per_asia = ((overall_lan_region_counts['asia_2']/(overall_lan_region_counts['asia_1']
                                                               +overall_lan_region_counts['asia_2']))*100).round(2)

total_per_aus = ((overall_lan_region_counts['aus_2']/(overall_lan_region_counts['aus_1']
                                                               +overall_lan_region_counts['aus_2']))*100).round(2)

total_per_ee = ((overall_lan_region_counts['ee_2']/(overall_lan_region_counts['ee_1']
                                                               +overall_lan_region_counts['ee_2']))*100).round(2)

total_per_la = ((overall_lan_region_counts['la_2']/(overall_lan_region_counts['la_1']
                                                               +overall_lan_region_counts['la_2']))*100).round(2)

total_per_me = ((overall_lan_region_counts['me_2']/(overall_lan_region_counts['me_1']
                                                               +overall_lan_region_counts['me_2']))*100).round(2)

total_per_na = ((overall_lan_region_counts['na_2']/(overall_lan_region_counts['na_1']
                                                               +overall_lan_region_counts['na_2']))*100).round(2)

total_per_sa = ((overall_lan_region_counts['sa_2']/(overall_lan_region_counts['sa_1']
                                                               +overall_lan_region_counts['sa_2']))*100).round(2)

total_per_we = ((overall_lan_region_counts['we_2']/(overall_lan_region_counts['we_1']
                                                               +overall_lan_region_counts['we_2']))*100).round(2)

In [ ]:
# merging the percentages into a df
region_perc = pd.concat([total_per_af, total_per_asia,total_per_aus,total_per_ee,total_per_la,total_per_me,total_per_na,
                        total_per_sa,total_per_we], axis= 1)
region_perc.head()

### Final percentages of language per total column

In [ ]:
# remaining the column types
region_perc = region_perc.set_axis(['africa', 'asia', 'aus', 'ee', 'la', 'me', 'na', 'sa', 'we'], axis='columns', inplace=False)
region_perc.head()

## Tools Stats per region

In [ ]:
# stats on tools used 
region_jupyter_count = region["jupyter"].value_counts()
region_rstudio_count = region["rstudio"].value_counts()
region_pycharm_count = region["pycharm"].value_counts()
region_atom_count = region["atom"].value_counts()
region_matlab_count = region["matlab"].value_counts()
region_vsc_count = region["vsc"].value_counts()
region_spyder_count = region["spyder"].value_counts()
region_vim_emacs_count = region["vim_emacs"].value_counts()
region_notepadplus_count = region["notepad++"].value_counts()
region_sublime_count = region["sublime"].value_counts()
region_envnone_count = region["env_none"].value_counts()
region_envother_count = region["env_other"].value_counts()

In [ ]:
# making a df from above stats 
overall_tools_region_counts = pd.concat([
region_jupyter_count,
region_rstudio_count, 
region_pycharm_count, 
region_atom_count,
region_matlab_count,
region_vsc_count,
region_spyder_count,
region_vim_emacs_count,
region_notepadplus_count,
region_sublime_count,
region_envnone_count,
region_envother_count, ], axis= 1)
overall_tools_region_counts.head()

In [ ]:
# transposing the data above 
overall_tools_region_counts = overall_tools_region_counts.transpose()
overall_tools_region_counts.head()

In [ ]:
# renaming the columns 
overall_tools_region_counts.columns = ['africa_1','africa_2',
                                     'asia_1','asia_2',
                                     'aus_1','aus_2',
                                     'ee_1','ee_2',
                                     'la_1','la_2',
                                     'me_1','me_2',
                                     'na_1','na_2',
                                     'sa_1','sa_2',
                                     'we_1','we_2']
overall_tools_region_counts.head()

In [ ]:
# perctange of tools used per region
total_per_tools_af = ((overall_tools_region_counts['africa_2']/(overall_tools_region_counts['africa_1']
                                                               +overall_tools_region_counts['africa_2']))*100).round(2)
total_per_tools_af.head()

In [ ]:
# remaining percantages for the other regions
total_per_tools_asia = ((overall_tools_region_counts['asia_2']/(overall_tools_region_counts['asia_1']
                                                               +overall_tools_region_counts['asia_2']))*100).round(2)

total_per_tools_aus = ((overall_tools_region_counts['aus_2']/(overall_tools_region_counts['aus_1']
                                                               +overall_tools_region_counts['aus_2']))*100).round(2)

total_per_tools_ee = ((overall_tools_region_counts['ee_2']/(overall_tools_region_counts['ee_1']
                                                               +overall_tools_region_counts['ee_2']))*100).round(2)

total_per_tools_la = ((overall_tools_region_counts['la_2']/(overall_tools_region_counts['la_1']
                                                               +overall_tools_region_counts['la_2']))*100).round(2)

total_per_tools_me = ((overall_tools_region_counts['me_2']/(overall_tools_region_counts['me_1']
                                                               +overall_tools_region_counts['me_2']))*100).round(2)

total_per_tools_na = ((overall_tools_region_counts['na_2']/(overall_tools_region_counts['na_1']
                                                               +overall_tools_region_counts['na_2']))*100).round(2)

total_per_tools_sa = ((overall_tools_region_counts['sa_2']/(overall_tools_region_counts['sa_1']
                                                               +overall_tools_region_counts['sa_2']))*100).round(2)

total_per_tools_we = ((overall_tools_region_counts['we_2']/(overall_tools_region_counts['we_1']
                                                               +overall_tools_region_counts['we_2']))*100).round(2)

In [ ]:
# making a df for the percentages of tools used 
region_tools_perc = pd.concat([total_per_tools_af, total_per_tools_asia,total_per_tools_aus,total_per_tools_ee,total_per_tools_la,
                         total_per_tools_me,total_per_tools_na,
                        total_per_tools_sa,total_per_tools_we], axis= 1)
region_tools_perc.head()

### Final percantages based on tools popularity

In [ ]:
# renaming the columns above 
region_tools_perc = region_tools_perc.set_axis(['africa', 'asia', 'aus', 'ee', 'la', 'me', 'na', 'sa', 'we'], axis='columns', inplace=False)
region_tools_perc.head()

## Database popularity based on region

In [ ]:
# stats on database used 
region_mysql_count = region["mysql"].value_counts()
region_postgres_count = region["postgres"].value_counts()
region_sqllite_count = region["sql_lite"].value_counts()
region_sqlsever_count = region["sqlserver"].value_counts()
region_oracle_count = region["oracle"].value_counts()
region_microacess_count = region["micro_acess"].value_counts()
region_awsdata_count = region["aws_data"].value_counts()
region_awsdynamo_emacs_count = region["aws_dynamo"].value_counts()
region_azuresql_count = region["azure_sql"].value_counts()
region_googlesql_count = region["google_sql"].value_counts()
region_databasenone_count = region["database_none"].value_counts()
region_databaseother_count = region["database_other"].value_counts()

In [ ]:
# making a df from above stats 
database_region_counts = pd.concat([
region_mysql_count,
region_postgres_count,
region_sqllite_count,
region_sqlsever_count,
region_oracle_count,
region_microacess_count,
region_awsdata_count,
region_awsdynamo_emacs_count,
region_azuresql_count,
region_googlesql_count,
region_databasenone_count,
region_databaseother_count,
], axis= 1)
database_region_counts.head()

In [ ]:
# transposing above df
database_region_counts = database_region_counts.transpose()
database_region_counts.head()

In [ ]:
# renaming the columns 
database_region_counts.columns = ['africa_1','africa_2',
                                     'asia_1','asia_2',
                                     'aus_1','aus_2',
                                     'ee_1','ee_2',
                                     'la_1','la_2',
                                     'me_1','me_2',
                                     'na_1','na_2',
                                     'sa_1','sa_2',
                                     'we_1','we_2']
database_region_counts.head()

In [ ]:
# perctange of databases used per region
total_per_database_af = ((database_region_counts['africa_2']/(database_region_counts['africa_1']
                                                               +database_region_counts['africa_2']))*100).round(2)
total_per_database_af.head()

In [ ]:
# remaining percantages for the other regions
total_per_database_asia = ((database_region_counts['asia_2']/(database_region_counts['asia_1']
                                                               +database_region_counts['asia_2']))*100).round(2)

total_per_database_aus = ((database_region_counts['aus_2']/(database_region_counts['aus_1']
                                                               +database_region_counts['aus_2']))*100).round(2)

total_per_database_ee = ((database_region_counts['ee_2']/(database_region_counts['ee_1']
                                                               +database_region_counts['ee_2']))*100).round(2)

total_per_database_la = ((database_region_counts['la_2']/(database_region_counts['la_1']
                                                               +database_region_counts['la_2']))*100).round(2)

total_per_database_me = ((database_region_counts['me_2']/(database_region_counts['me_1']
                                                               +database_region_counts['me_2']))*100).round(2)

total_per_database_na = ((database_region_counts['na_2']/(database_region_counts['na_1']
                                                               +database_region_counts['na_2']))*100).round(2)

total_per_database_sa = ((database_region_counts['sa_2']/(database_region_counts['sa_1']
                                                               +database_region_counts['sa_2']))*100).round(2)

total_per_database_we = ((database_region_counts['we_2']/(database_region_counts['we_1']
                                                               +database_region_counts['we_2']))*100).round(2)

In [ ]:
# making a df for the percentages of tools used 
region_database_perc = pd.concat([
total_per_database_af,
total_per_database_asia,
    total_per_database_aus,
    total_per_database_ee,
    total_per_database_la,
    total_per_database_me,
    total_per_database_na,
    total_per_database_sa,
    total_per_database_we,
    
], axis= 1)
region_database_perc.head()

In [ ]:
# renaming the columns above 
region_database_perc = region_database_perc.set_axis(['africa', 'asia', 'aus', 'ee', 'la', 'me', 'na', 'sa', 'we'], axis='columns', inplace=False)
region_database_perc

## Database 1 counts

In [ ]:
# import clean csv to df
salary_df1 = pd.read_csv("../exported_data/salary_data1.csv")
salary_df1.head()

In [ ]:
job1_count = salary_df1["jobtitle"].value_counts()
job1_count