In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (0.15.1)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# import csv to df
salary_df1 = pd.read_csv("../exported_data/salary_data1.csv")

del salary_df1["Unnamed: 0"]
salary_df1 = salary_df1.dropna()
salary_df1.head()

,id,salaryusd,country,primarydatabase,yearswiththisdatabase,employmentstatus,jobtitle,managestaff,yearswiththistypeofjob,otherpeopleonyourteam,education,educationiscomputerrelated,certifications,hoursworkedperweek,telecommutedaysperweek,employmentsector,region
0,0,200000.0,United States,Microsoft SQL Server,10.0,Full time employee,DBA,No,5.0,2,Masters,No,"Yes, and they're currently valid",45.0,1,Private business,North America
2,2,85000.0,United States,Microsoft SQL Server,8.0,Full time employee,DBA,No,2.0,None,Bachelors (4 years),Yes,"No, I never have",50.0,"None, or less than 1 day per week",Private business,North America
3,3,96000.0,United States,Microsoft SQL Server,5.0,Full time employee,DBA,No,5.0,None,Masters,No,"No, I never have",45.0,1,Private business,North America
6,6,78000.0,United States,Azure SQL DB,5.0,Full time employee,DBA,No,10.0,None,Associates (2 years),Yes,"Yes, but they expired",60.0,"None, or less than 1 day per week",Private business,North America
7,7,123000.0,United States,Microsoft SQL Server,7.0,Full time employee,DBA,No,7.0,2,Bachelors (4 years),Yes,"Yes, but they expired",45.0,3,Private business,North America

In [4]:
salary_bins = [0, 10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000, 110000, 120000, 130000, 140000, 150000, 160000, 170000, 180000, 190000, 200000, 210000, 220000, 230000, 240000, 250000, 260000]
salary_bin_names = [5000, 15000, 25000, 35000, 45000, 55000, 65000, 75000, 85000, 95000, 105000, 115000, 125000, 135000, 145000, 155000, 165000, 175000, 185000, 195000, 205000, 215000, 225000, 235000, 245000, 255000]
salary_df1["averagesalaryusdbins"] = pd.cut(salary_df1["salaryusd"], salary_bins, labels=salary_bin_names, include_lowest=True)

salary_df1 = salary_df1.loc[(salary_df1["averagesalaryusdbins"] != 255000)]


salary_df1["avgsalaryusdbins_int"] =salary_df1["averagesalaryusdbins"].astype(int)

salary_df1.dtypes

id                               int64
salaryusd                      float64
country                         object
primarydatabase                 object
yearswiththisdatabase          float64
employmentstatus                object
jobtitle                        object
managestaff                     object
yearswiththistypeofjob         float64
otherpeopleonyourteam           object
education                       object
educationiscomputerrelated      object
certifications                  object
hoursworkedperweek             float64
telecommutedaysperweek          object
employmentsector                object
region                          object
averagesalaryusdbins          category
avgsalaryusdbins_int             int32
dtype: object

In [5]:
# sets X as every columns except koi_disposition
X1 = salary_df1.drop("averagesalaryusdbins", axis=1)
X2 = X1.drop("avgsalaryusdbins_int", axis=1)
X3 = X2.drop("id", axis=1)
X = X3.drop("salaryusd", axis=1)
# sets y to koi_disposition
y = salary_df1["avgsalaryusdbins_int"].values.reshape(-1, 1)

print(X.shape, y.shape)

(5474, 15) (5474, 1)

In [6]:
X_encoded = pd.get_dummies(X)
print(X_encoded.shape, y.shape)

X_encoded

(5474, 141) (5474, 1)

,yearswiththisdatabase,yearswiththistypeofjob,hoursworkedperweek,country_Albania,country_Argentina,country_Australia,country_Austria,country_Bahrain,country_Belarus,country_Belgium,...,employmentsector_Private business,region_Africa,region_Asia,region_Australia,region_Eastern Europe,region_Latin America,region_Middle East,region_North America,region_South America,region_Western Europe
0,10.0,5.0,45.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2,8.0,2.0,50.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,5.0,5.0,45.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
6,5.0,10.0,60.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
7,7.0,7.0,45.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6642,10.0,3.0,40.0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
6645,4.0,5.0,40.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
6647,12.0,8.0,40.0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
6648,4.0,8.0,40.0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
6650,7.0,7.0,35.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical


# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, random_state=115, stratify=y)

In [8]:
X_train.head()

,yearswiththisdatabase,yearswiththistypeofjob,hoursworkedperweek,country_Albania,country_Argentina,country_Australia,country_Austria,country_Bahrain,country_Belarus,country_Belgium,...,employmentsector_Private business,region_Africa,region_Asia,region_Australia,region_Eastern Europe,region_Latin America,region_Middle East,region_North America,region_South America,region_Western Europe
3147,8.0,2.0,45.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3486,18.0,0.0,50.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3382,14.0,0.0,50.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
937,10.0,6.0,45.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3985,20.0,17.0,42.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [9]:
# Scale your data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [11]:
# One-hot encoding

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)
y_train_categorical

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [16]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(units=141, activation='relu', input_dim=141))
model.add(Dense(units=25, activation='softmax'))

In [17]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [18]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 141)               20022
_________________________________________________________________
dense_3 (Dense)              (None, 25)                3550
=================================================================
Total params: 23,572
Trainable params: 23,572
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
129/129 - 0s - loss: 2.7289 - accuracy: 0.1211
Epoch 2/100
129/129 - 0s - loss: 2.4097 - accuracy: 0.1744
Epoch 3/100
129/129 - 0s - loss: 2.2802 - accuracy: 0.2134
Epoch 4/100
129/129 - 0s - loss: 2.2030 - accuracy: 0.2248
Epoch 5/100
129/129 - 0s - loss: 2.1544 - accuracy: 0.2412
Epoch 6/100
129/129 - 0s - loss: 2.1115 - accuracy: 0.2585
Epoch 7/100
129/129 - 0s - loss: 2.0794 - accuracy: 0.2609
Epoch 8/100
129/129 - 0s - loss: 2.0507 - accuracy: 0.2767
Epoch 9/100
129/129 - 0s - loss: 2.0233 - accuracy: 0.2901
Epoch 10/100
129/129 - 0s - loss: 2.0011 - accuracy: 0.2928
Epoch 11/100
129/129 - 0s - loss: 1.9810 - accuracy: 0.3004
Epoch 12/100
129/129 - 0s - loss: 1.9587 - accuracy: 0.3006
Epoch 13/100
129/129 - 0s - loss: 1.9404 - accuracy: 0.3140
Epoch 14/100
129/129 - 0s - loss: 1.9220 - accuracy: 0.3186
Epoch 15/100
129/129 - 0s - loss: 1.9034 - accuracy: 0.3216
Epoch 16/100
129/129 - 0s - loss: 1.8846 - accuracy: 0.3342
Epoch 17/100
129/129 - 0s - loss: 1.8680 - accuracy: 0.3428
Epoch 18/100
129/129 - 0s - loss: 1.8488 - accuracy: 0.3401
Epoch 19/100
129/129 - 0s - loss: 1.8368 - accuracy: 0.3520
Epoch 20/100
129/129 - 0s - loss: 1.8203 - accuracy: 0.3625
Epoch 21/100
129/129 - 0s - loss: 1.8015 - accuracy: 0.3622
Epoch 22/100
129/129 - 0s - loss: 1.7890 - accuracy: 0.3752
Epoch 23/100
129/129 - 0s - loss: 1.7740 - accuracy: 0.3790
Epoch 24/100
129/129 - 0s - loss: 1.7594 - accuracy: 0.3812
Epoch 25/100
129/129 - 0s - loss: 1.7449 - accuracy: 0.3903
Epoch 26/100
129/129 - 0s - loss: 1.7308 - accuracy: 0.3934
Epoch 27/100
129/129 - 0s - loss: 1.7165 - accuracy: 0.4041
Epoch 28/100
129/129 - 0s - loss: 1.7040 - accuracy: 0.4088
Epoch 29/100
129/129 - 0s - loss: 1.6935 - accuracy: 0.4071
Epoch 30/100
129/129 - 0s - loss: 1.6783 - accuracy: 0.4180
Epoch 31/100
129/129 - 0s - loss: 1.6677 - accuracy: 0.4210
Epoch 32/100
129/129 - 0s - loss: 1.6552 - accuracy: 0.4205
Epoch 33/100
129/129 - 0s - loss: 1.6448 - accuracy: 0.4331
Epoch 34/100
129/129 - 0s - loss: 1.6341 - accuracy: 0.4307
Epoch 35/100
129/129 - 0s - loss: 1.6204 - accuracy: 0.4390
Epoch 36/100
129/129 - 0s - loss: 1.6087 - accuracy: 0.4463
Epoch 37/100
129/129 - 0s - loss: 1.6023 - accuracy: 0.4492
Epoch 38/100
129/129 - 0s - loss: 1.5901 - accuracy: 0.4524
Epoch 39/100
129/129 - 0s - loss: 1.5796 - accuracy: 0.4650
Epoch 40/100
129/129 - 0s - loss: 1.5683 - accuracy: 0.4670
Epoch 41/100
129/129 - 0s - loss: 1.5563 - accuracy: 0.4646
Epoch 42/100
129/129 - 0s - loss: 1.5528 - accuracy: 0.4643
Epoch 43/100
129/129 - 0s - loss: 1.5418 - accuracy: 0.4714
Epoch 44/100
129/129 - 0s - loss: 1.5312 - accuracy: 0.4748
Epoch 45/100
129/129 - 0s - loss: 1.5255 - accuracy: 0.4753
Epoch 46/100
129/129 - 0s - loss: 1.5133 - accuracy: 0.4775
Epoch 47/100
129/129 - 0s - loss: 1.5112 - accuracy: 0.4780
Epoch 48/100
129/129 - 0s - loss: 1.4991 - accuracy: 0.4828
Epoch 49/100
129/129 - 0s - loss: 1.4937 - accuracy: 0.4819
Epoch 50/100
129/129 - 0s - loss: 1.4836 - accuracy: 0.4921
Epoch 51/100
129/129 - 0s - loss: 1.4769 - accuracy: 0.4967
Epoch 52/100
129/129 - 0s - loss: 1.4661 - accuracy: 0.4940
Epoch 53/100
129/129 - 0s - loss: 1.4644 - accuracy: 0.4965
Epoch 54/100
129/129 - 0s - loss: 1.4539 - accuracy: 0.5023
Epoch 55/100
129/129 - 0s - loss: 1.4476 - accuracy: 0.5030
Epoch 56/100
129/129 - 0s - loss: 1.4367 - accuracy: 0.5060
Epoch 57/100
129/129 - 0s - loss: 1.4348 - accuracy: 0.5067
Epoch 58/100
129/129 - 0s - loss: 1.4233 - accuracy: 0.5099
Epoch 59/100
129/129 - 0s - loss: 1.4191 - accuracy: 0.5152
Epoch 60/100
129/129 - 0s - loss: 1.4097 - accuracy: 0.5174
Epoch 61/100
129/129 - 0s - loss: 1.4080 - accuracy: 0.5179
Epoch 62/100
129/129 - 0s - loss: 1.3966 - accuracy: 0.5218
Epoch 63/100
129/129 - 0s - loss: 1.3896 - accuracy: 0.5252
Epoch 64/100
129/129 - 0s - loss: 1.3850 - accuracy: 0.5252
Epoch 65/100
129/129 - 0s - loss: 1.3806 - accuracy: 0.5257
Epoch 66/100
129/129 - 0s - loss: 1.3723 - accuracy: 0.5284
Epoch 67/100
129/129 - 0s - loss: 1.3729 - accuracy: 0.5320
Epoch 68/100
129/129 - 0s - loss: 1.3673 - accuracy: 0.5335
Epoch 69/100
129/129 - 0s - loss: 1.3618 - accuracy: 0.5318
Epoch 70/100
129/129 - 0s - loss: 1.3484 - accuracy: 0.5359
Epoch 71/100
129/129 - 0s - loss: 1.3476 - accuracy: 0.5432
Epoch 72/100
129/129 - 0s - loss: 1.3406 - accuracy: 0.5479
Epoch 73/100
129/129 - 0s - loss: 1.3352 - accuracy: 0.5513
Epoch 74/100
129/129 - 0s - loss: 1.3325 - accuracy: 0.5474
Epoch 75/100
129/129 - 0s - loss: 1.3237 - accuracy: 0.5508
Epoch 76/100
129/129 - 0s - loss: 1.3197 - accuracy: 0.5513
Epoch 77/100
129/129 - 0s - loss: 1.3120 - accuracy: 0.5510
Epoch 78/100
129/129 - 0s - loss: 1.3116 - accuracy: 0.5493
Epoch 79/100
129/129 - 0s - loss: 1.3093 - accuracy: 0.5549
Epoch 80/100
129/129 - 0s - loss: 1.2969 - accuracy: 0.5559
Epoch 81/100
129/129 - 0s - loss: 1.2944 - accuracy: 0.5547
Epoch 82/100
129/129 - 0s - loss: 1.2913 - accuracy: 0.5586
Epoch 83/100
129/129 - 0s - loss: 1.2802 - accuracy: 0.5576
Epoch 84/100
129/129 - 0s - loss: 1.2828 - accuracy: 0.5596
Epoch 85/100
129/129 - 0s - loss: 1.2764 - accuracy: 0.5635
Epoch 86/100
129/129 - 0s - loss: 1.2732 - accuracy: 0.5681
Epoch 87/100
129/129 - 0s - loss: 1.2704 - accuracy: 0.5661
Epoch 88/100
129/129 - 0s - loss: 1.2678 - accuracy: 0.5674
Epoch 89/100
129/129 - 0s - loss: 1.2582 - accuracy: 0.5683
Epoch 90/100
129/129 - 0s - loss: 1.2537 - accuracy: 0.5766
Epoch 91/100
129/129 - 0s - loss: 1.2465 - accuracy: 0.5688
Epoch 92/100
129/129 - 0s - loss: 1.2467 - accuracy: 0.5713
Epoch 93/100
129/129 - 0s - loss: 1.2393 - accuracy: 0.5678
Epoch 94/100
129/129 - 0s - loss: 1.2392 - accuracy: 0.5766
Epoch 95/100
129/129 - 0s - loss: 1.2318 - accuracy: 0.5744
Epoch 96/100
129/129 - 0s - loss: 1.2337 - accuracy: 0.5742
Epoch 97/100
129/129 - 0s - loss: 1.2245 - accuracy: 0.5773
Epoch 98/100
129/129 - 0s - loss: 1.2191 - accuracy: 0.5868
Epoch 99/100
129/129 - 0s - loss: 1.2167 - accuracy: 0.5864
Epoch 100/100
129/129 - 0s - loss: 1.2095 - accuracy: 0.5886

In [20]:
# Evaluate the model using the testing data
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

43/43 - 0s - loss: 3.0461 - accuracy: 0.1907
Loss: 3.046149969100952, Accuracy: 0.1906501054763794

In [28]:
deep_model = Sequential()
deep_model.add(Dense(units=141, activation='relu', input_dim=141))
deep_model.add(Dense(units=282, activation='relu'))
deep_model.add(Dense(units=282, activation='relu'))
deep_model.add(Dense(units=25, activation='softmax'))

In [29]:
deep_model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_10 (Dense)             (None, 141)               20022
_________________________________________________________________
dense_11 (Dense)             (None, 282)               40044
_________________________________________________________________
dense_12 (Dense)             (None, 282)               79806
_________________________________________________________________
dense_13 (Dense)             (None, 25)                7075
=================================================================
Total params: 146,947
Trainable params: 146,947
Non-trainable params: 0
_________________________________________________________________

In [30]:
deep_model.compile(optimizer='adam',
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

deep_model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
129/129 - 1s - loss: 2.5600 - accuracy: 0.1403
Epoch 2/100
129/129 - 1s - loss: 2.2170 - accuracy: 0.2088
Epoch 3/100
129/129 - 1s - loss: 2.1217 - accuracy: 0.2336
Epoch 4/100
129/129 - 0s - loss: 2.0652 - accuracy: 0.2546
Epoch 5/100
129/129 - 0s - loss: 2.0126 - accuracy: 0.2706
Epoch 6/100
129/129 - 0s - loss: 1.9489 - accuracy: 0.2962
Epoch 7/100
129/129 - 0s - loss: 1.8968 - accuracy: 0.3172
Epoch 8/100
129/129 - 0s - loss: 1.8453 - accuracy: 0.3298
Epoch 9/100
129/129 - 0s - loss: 1.7960 - accuracy: 0.3564
Epoch 10/100
129/129 - 0s - loss: 1.7199 - accuracy: 0.3849
Epoch 11/100
129/129 - 0s - loss: 1.6483 - accuracy: 0.4127
Epoch 12/100
129/129 - 0s - loss: 1.5855 - accuracy: 0.4404
Epoch 13/100
129/129 - 0s - loss: 1.5310 - accuracy: 0.4555
Epoch 14/100
129/129 - 0s - loss: 1.4715 - accuracy: 0.4780
Epoch 15/100
129/129 - 0s - loss: 1.3875 - accuracy: 0.5177
Epoch 16/100
129/129 - 0s - loss: 1.3272 - accuracy: 0.5425
Epoch 17/100
129/129 - 0s - loss: 1.2667 - accuracy: 0.5574
Epoch 18/100
129/129 - 0s - loss: 1.2090 - accuracy: 0.5734
Epoch 19/100
129/129 - 0s - loss: 1.1516 - accuracy: 0.5937
Epoch 20/100
129/129 - 0s - loss: 1.0935 - accuracy: 0.6195
Epoch 21/100
129/129 - 0s - loss: 1.0444 - accuracy: 0.6407
Epoch 22/100
129/129 - 0s - loss: 0.9900 - accuracy: 0.6504
Epoch 23/100
129/129 - 0s - loss: 0.9651 - accuracy: 0.6658
Epoch 24/100
129/129 - 0s - loss: 0.9065 - accuracy: 0.6828
Epoch 25/100
129/129 - 0s - loss: 0.8677 - accuracy: 0.7006
Epoch 26/100
129/129 - 0s - loss: 0.8245 - accuracy: 0.7082
Epoch 27/100
129/129 - 0s - loss: 0.7889 - accuracy: 0.7218
Epoch 28/100
129/129 - 0s - loss: 0.7651 - accuracy: 0.7225
Epoch 29/100
129/129 - 0s - loss: 0.7220 - accuracy: 0.7454
Epoch 30/100
129/129 - 0s - loss: 0.7114 - accuracy: 0.7498
Epoch 31/100
129/129 - 0s - loss: 0.6858 - accuracy: 0.7535
Epoch 32/100
129/129 - 0s - loss: 0.6545 - accuracy: 0.7705
Epoch 33/100
129/129 - 0s - loss: 0.6325 - accuracy: 0.7778
Epoch 34/100
129/129 - 0s - loss: 0.6263 - accuracy: 0.7815
Epoch 35/100
129/129 - 0s - loss: 0.5960 - accuracy: 0.7790
Epoch 36/100
129/129 - 0s - loss: 0.5841 - accuracy: 0.7907
Epoch 37/100
129/129 - 0s - loss: 0.5663 - accuracy: 0.7905
Epoch 38/100
129/129 - 0s - loss: 0.5446 - accuracy: 0.8017
Epoch 39/100
129/129 - 0s - loss: 0.5355 - accuracy: 0.7983
Epoch 40/100
129/129 - 0s - loss: 0.5211 - accuracy: 0.8063
Epoch 41/100
129/129 - 0s - loss: 0.5190 - accuracy: 0.8078
Epoch 42/100
129/129 - 0s - loss: 0.5137 - accuracy: 0.8097
Epoch 43/100
129/129 - 0s - loss: 0.4890 - accuracy: 0.8185
Epoch 44/100
129/129 - 0s - loss: 0.4902 - accuracy: 0.8129
Epoch 45/100
129/129 - 0s - loss: 0.4779 - accuracy: 0.8202
Epoch 46/100
129/129 - 0s - loss: 0.4796 - accuracy: 0.8202
Epoch 47/100
129/129 - 0s - loss: 0.4435 - accuracy: 0.8317
Epoch 48/100
129/129 - 0s - loss: 0.4497 - accuracy: 0.8297
Epoch 49/100
129/129 - 0s - loss: 0.4602 - accuracy: 0.8239
Epoch 50/100
129/129 - 0s - loss: 0.4244 - accuracy: 0.8431
Epoch 51/100
129/129 - 0s - loss: 0.4592 - accuracy: 0.8280
Epoch 52/100
129/129 - 0s - loss: 0.4327 - accuracy: 0.8341
Epoch 53/100
129/129 - 0s - loss: 0.4135 - accuracy: 0.8351
Epoch 54/100
129/129 - 0s - loss: 0.4076 - accuracy: 0.8404
Epoch 55/100
129/129 - 0s - loss: 0.4171 - accuracy: 0.8387
Epoch 56/100
129/129 - 0s - loss: 0.3919 - accuracy: 0.8460
Epoch 57/100
129/129 - 0s - loss: 0.3981 - accuracy: 0.8443
Epoch 58/100
129/129 - 0s - loss: 0.4026 - accuracy: 0.8443
Epoch 59/100
129/129 - 0s - loss: 0.3805 - accuracy: 0.8507
Epoch 60/100
129/129 - 0s - loss: 0.3777 - accuracy: 0.8514
Epoch 61/100
129/129 - 0s - loss: 0.3747 - accuracy: 0.8524
Epoch 62/100
129/129 - 0s - loss: 0.3598 - accuracy: 0.8611
Epoch 63/100
129/129 - 0s - loss: 0.3553 - accuracy: 0.8602
Epoch 64/100
129/129 - 0s - loss: 0.3744 - accuracy: 0.8546
Epoch 65/100
129/129 - 0s - loss: 0.3556 - accuracy: 0.8543
Epoch 66/100
129/129 - 0s - loss: 0.3512 - accuracy: 0.8650
Epoch 67/100
129/129 - 0s - loss: 0.3566 - accuracy: 0.8577
Epoch 68/100
129/129 - 0s - loss: 0.3400 - accuracy: 0.8648
Epoch 69/100
129/129 - 0s - loss: 0.3350 - accuracy: 0.8706
Epoch 70/100
129/129 - 0s - loss: 0.3277 - accuracy: 0.8709
Epoch 71/100
129/129 - 0s - loss: 0.3395 - accuracy: 0.8646
Epoch 72/100
129/129 - 0s - loss: 0.3358 - accuracy: 0.8626
Epoch 73/100
129/129 - 0s - loss: 0.3321 - accuracy: 0.8672
Epoch 74/100
129/129 - 0s - loss: 0.3203 - accuracy: 0.8755
Epoch 75/100
129/129 - 0s - loss: 0.3160 - accuracy: 0.8758
Epoch 76/100
129/129 - 0s - loss: 0.3168 - accuracy: 0.8736
Epoch 77/100
129/129 - 0s - loss: 0.2983 - accuracy: 0.8801
Epoch 78/100
129/129 - 0s - loss: 0.3057 - accuracy: 0.8762
Epoch 79/100
129/129 - 0s - loss: 0.3126 - accuracy: 0.8745
Epoch 80/100
129/129 - 0s - loss: 0.3022 - accuracy: 0.8792
Epoch 81/100
129/129 - 0s - loss: 0.2921 - accuracy: 0.8799
Epoch 82/100
129/129 - 0s - loss: 0.2797 - accuracy: 0.8882
Epoch 83/100
129/129 - 0s - loss: 0.2946 - accuracy: 0.8797
Epoch 84/100
129/129 - 0s - loss: 0.2738 - accuracy: 0.8882
Epoch 85/100
129/129 - 0s - loss: 0.2772 - accuracy: 0.8870
Epoch 86/100
129/129 - 0s - loss: 0.2828 - accuracy: 0.8865
Epoch 87/100
129/129 - 0s - loss: 0.2809 - accuracy: 0.8843
Epoch 88/100
129/129 - 0s - loss: 0.2691 - accuracy: 0.8921
Epoch 89/100
129/129 - 0s - loss: 0.2733 - accuracy: 0.8860
Epoch 90/100
129/129 - 0s - loss: 0.2668 - accuracy: 0.8948
Epoch 91/100
129/129 - 0s - loss: 0.2678 - accuracy: 0.8967
Epoch 92/100
129/129 - 0s - loss: 0.2728 - accuracy: 0.8884
Epoch 93/100
129/129 - 0s - loss: 0.2852 - accuracy: 0.8867
Epoch 94/100
129/129 - 1s - loss: 0.2608 - accuracy: 0.8948
Epoch 95/100
129/129 - 0s - loss: 0.2522 - accuracy: 0.8933
Epoch 96/100
129/129 - 0s - loss: 0.2552 - accuracy: 0.8967
Epoch 97/100
129/129 - 0s - loss: 0.2589 - accuracy: 0.8940
Epoch 98/100
129/129 - 0s - loss: 0.2417 - accuracy: 0.9018
Epoch 99/100
129/129 - 0s - loss: 0.2428 - accuracy: 0.9013
Epoch 100/100
129/129 - 0s - loss: 0.2431 - accuracy: 0.9028

In [31]:
# Deep Learning
model_loss, model_accuracy = deep_model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

43/43 - 0s - loss: 7.8078 - accuracy: 0.1790
Deep Neural Network - Loss: 7.807808876037598, Accuracy: 0.17896275222301483