In [2]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (0.15.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (2.1.0)

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# import csv to df
salary_df1 = pd.read_csv("../exported_data/salary_data1_new2.csv")
salary_df1.head()

,Unnamed: 0,id,salaryusd,primarydatabase,yearswiththisdatabase,employmentstatus,jobtitle,managestaff,yearswiththistypeofjob,otherpeopleonyourteam,education,educationiscomputerrelated,certifications,hoursworkedperweek,telecommutedaysperweek,employmentsector,region,averagesalaryusdbins
0,4496,4529,8000.0,Microsoft SQL Server,8,Full time employee,DBA,No,0,None,Associates (2 years),NaN,"No, I never have",40,"None, or less than 1 day per week",Private business,Western Europe,5000
1,5497,5535,2000.0,Microsoft SQL Server,7,Full time employee,DBA,No,1,4,Masters,Yes,"Yes, but they expired",40,5 or more,Private business,Eastern Europe,5000
2,5531,5569,2200.0,Other,2,Full time employee,Developer,No,2,2,Masters,Yes,"No, I never have",40,2,Private business,Eastern Europe,5000
3,5537,5575,3500.0,Microsoft SQL Server,12,Full time employee,Developer,No,15,3,Masters,No,"No, I never have",40,1,Private business,Eastern Europe,5000
4,5538,5576,2900.0,Microsoft SQL Server,8,Full time employee,DBA,No,8,2,Masters,NaN,"No, I never have",40,"None, or less than 1 day per week",Private business,Eastern Europe,5000

In [5]:
del salary_df1["Unnamed: 0"]

salary_df1 = salary_df1.dropna()

salary_df1

,id,salaryusd,primarydatabase,yearswiththisdatabase,employmentstatus,jobtitle,managestaff,yearswiththistypeofjob,otherpeopleonyourteam,education,educationiscomputerrelated,certifications,hoursworkedperweek,telecommutedaysperweek,employmentsector,region,averagesalaryusdbins
1,5535,2000.0,Microsoft SQL Server,7,Full time employee,DBA,No,1,4,Masters,Yes,"Yes, but they expired",40,5 or more,Private business,Eastern Europe,5000
2,5569,2200.0,Other,2,Full time employee,Developer,No,2,2,Masters,Yes,"No, I never have",40,2,Private business,Eastern Europe,5000
3,5575,3500.0,Microsoft SQL Server,12,Full time employee,Developer,No,15,3,Masters,No,"No, I never have",40,1,Private business,Eastern Europe,5000
6,5580,2400.0,Microsoft SQL Server,8,Full time employee,Developer,No,6,2,Doctorate/PhD,Yes,"Yes, but they expired",40,5 or more,Private business,Eastern Europe,5000
7,5581,3300.0,PostgreSQL,3,Full time employee,DBA,Yes,8,None,Bachelors (4 years),Yes,"Yes, and they're currently valid",35,5 or more,Private business,Eastern Europe,5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6642,1290,250000.0,Microsoft SQL Server,16,Independent Consultant/Freelancer,DBA,No,16,1,Bachelors (4 years),No,"No, I never have",45,5 or more,Private business,North America,245000
6644,3947,250000.0,Microsoft SQL Server,20,Independent Consultant/Freelancer,DBA,No,25,None,Masters,Yes,"Yes, and they're currently valid",50,5 or more,Private business,North America,245000
6645,4147,250000.0,Microsoft SQL Server,16,Independent Consultant/Freelancer,Architect,No,16,None,Bachelors (4 years),Yes,"No, I never have",40,5 or more,Private business,North America,245000
6647,5119,250000.0,Microsoft SQL Server,20,Independent Consultant/Freelancer,Architect,Yes,22,More than 5,Masters,Yes,"Yes, and they're currently valid",60,3,Private business,Western Europe,245000
6648,6509,250000.0,Microsoft SQL Server,20,Independent Consultant/Freelancer,DBA,No,1,1,Bachelors (4 years),Yes,"Yes, but they expired",40,"None, or less than 1 day per week",Private business,Australia,245000

In [6]:
# sets X as every columns except koi_disposition
X1 = salary_df1.drop("averagesalaryusdbins", axis=1)
X2 = X1.drop("id", axis=1)
X = X2.drop("salaryusd", axis=1)
# sets y to koi_disposition
y = salary_df1["averagesalaryusdbins"].values.reshape(-1, 1)

print(X.shape, y.shape)

(5473, 14) (5473, 1)

In [7]:
X_encoded = pd.get_dummies(X)
print(X_encoded.shape, y.shape)

X_encoded

(5473, 63) (5473, 1)

,yearswiththisdatabase,yearswiththistypeofjob,hoursworkedperweek,primarydatabase_Amazon RDS (any flavor),primarydatabase_Azure SQL DB,primarydatabase_DB2,primarydatabase_Elasticsearch,primarydatabase_Microsoft Access,primarydatabase_Microsoft SQL Server,primarydatabase_MongoDB,...,employmentsector_Private business,region_Africa,region_Asia,region_Australia,region_Eastern Europe,region_Latin America,region_Middle East,region_North America,region_South America,region_Western Europe
1,7,1,40,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
2,2,2,40,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3,12,15,40,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
6,8,6,40,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
7,3,8,35,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6642,16,16,45,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
6644,20,25,50,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
6645,16,16,40,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
6647,20,22,60,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
6648,20,1,40,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical


# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, random_state=115, stratify=y)

In [10]:
X_train.head()

,yearswiththisdatabase,yearswiththistypeofjob,hoursworkedperweek,primarydatabase_Amazon RDS (any flavor),primarydatabase_Azure SQL DB,primarydatabase_DB2,primarydatabase_Elasticsearch,primarydatabase_Microsoft Access,primarydatabase_Microsoft SQL Server,primarydatabase_MongoDB,...,employmentsector_Private business,region_Africa,region_Asia,region_Australia,region_Eastern Europe,region_Latin America,region_Middle East,region_North America,region_South America,region_Western Europe
2906,4,4,40,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
1467,6,6,40,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
6164,12,6,45,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
5758,20,20,48,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
3874,10,2,45,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0

In [11]:
# Scale your data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Create the SVC Model
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train_scaled, y_train)

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVC(kernel='linear')

In [13]:
print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Training Data Score: 0.24244639376218324
Testing Data Score: 0.18407596785975164

In [14]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10],
              'gamma': [0.0001, 0.001, 0.01]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [15]:
# Train the model with GridSearch
grid.fit(X_train_scaled, y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
[CV] C=1, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.172, total=   2.8s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.8s remaining:    0.0s
C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.177, total=   3.1s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    5.9s remaining:    0.0s
C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.177, total=   3.0s
[CV] C=1, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.196, total=   2.9s
[CV] C=1, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.187, total=   3.0s
[CV] C=1, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.172, total=   2.9s
[CV] C=1, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.177, total=   2.9s
[CV] C=1, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.177, total=   3.1s
[CV] C=1, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.196, total=   3.0s
[CV] C=1, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.187, total=   3.1s
[CV] C=1, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.172, total=   2.7s
[CV] C=1, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.177, total=   3.0s
[CV] C=1, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.177, total=   2.9s
[CV] C=1, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.196, total=   2.7s
[CV] C=1, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.187, total=   3.1s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.164, total=   4.7s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.188, total=   4.5s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.174, total=   4.9s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.191, total=   4.5s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.187, total=   4.8s
[CV] C=5, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.164, total=   4.9s
[CV] C=5, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.188, total=   4.8s
[CV] C=5, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.174, total=   5.3s
[CV] C=5, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.191, total=   4.9s
[CV] C=5, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.187, total=   4.7s
[CV] C=5, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.164, total=   4.6s
[CV] C=5, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.188, total=   4.6s
[CV] C=5, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.174, total=   5.0s
[CV] C=5, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.191, total=   4.7s
[CV] C=5, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.187, total=   4.0s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.167, total=   6.6s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.189, total=   7.1s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.180, total=   7.1s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.191, total=   6.8s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.185, total=   6.8s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.167, total=   6.3s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.189, total=   6.5s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.180, total=   7.2s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.191, total=   6.3s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.185, total=   6.8s
[CV] C=10, gamma=0.01 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.167, total=   6.4s
[CV] C=10, gamma=0.01 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.189, total=   6.3s
[CV] C=10, gamma=0.01 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.180, total=   6.4s
[CV] C=10, gamma=0.01 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.191, total=   6.9s
[CV] C=10, gamma=0.01 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.185, total=   7.3s

[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:  3.6min finished
C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GridSearchCV(estimator=SVC(kernel='linear'),
             param_grid={'C': [1, 5, 10], 'gamma': [0.0001, 0.001, 0.01]},
             verbose=3)

In [16]:
print(grid.best_params_)
print(grid.best_score_)

{'C': 10, 'gamma': 0.0001}
0.1825055702444966

In [17]:
print(f"Training Grid Score: {grid.score(X_train_scaled, y_train)}")
print(f"Testing Grid Score: {grid.score(X_test_scaled, y_test)}")

Training Grid Score: 0.2789961013645224
Testing Grid Score: 0.1877282688093499

In [18]:
# Make predictions with the hypertuned model
predictions = grid.predict(X_test_scaled)

In [19]:

# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

        5000       0.09      0.07      0.08        14
       15000       0.34      0.50      0.41        28
       25000       0.15      0.16      0.15        32
       35000       0.16      0.12      0.14        48
       45000       0.23      0.15      0.18        66
       55000       0.22      0.12      0.16        90
       65000       0.20      0.23      0.22       139
       75000       0.15      0.15      0.15       130
       85000       0.19      0.36      0.25       148
       95000       0.19      0.21      0.20       156
      105000       0.23      0.28      0.25       145
      115000       0.17      0.17      0.17       119
      125000       0.15      0.10      0.12        92
      135000       0.06      0.03      0.04        63
      145000       0.50      0.06      0.10        36
      155000       0.00      0.00      0.00        25
      165000       0.00      0.00      0.00        14
      175000       0.00      0.00      0.00         9
      185000       0.00      0.00      0.00         3
      195000       0.00      0.00      0.00         7
      205000       0.00      0.00      0.00         1
      215000       0.00      0.00      0.00         1
      225000       0.00      0.00      0.00         1
      235000       0.00      0.00      0.00         1
      245000       0.00      0.00      0.00         1

    accuracy                           0.19      1369
   macro avg       0.12      0.11      0.10      1369
weighted avg       0.18      0.19      0.18      1369

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))