In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (0.15.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\budchris\anaconda3\envs\pythonadv\lib\site-packages (from scikit-learn->sklearn) (2.1.0)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# import csv to df
salary_df1 = pd.read_csv("../exported_data/salary_data1.csv")

del salary_df1["Unnamed: 0"]
salary_df1 = salary_df1.dropna()
salary_df1.head()

,id,salaryusd,country,primarydatabase,yearswiththisdatabase,employmentstatus,jobtitle,managestaff,yearswiththistypeofjob,otherpeopleonyourteam,education,educationiscomputerrelated,certifications,hoursworkedperweek,telecommutedaysperweek,employmentsector,region
0,0,200000.0,United States,Microsoft SQL Server,10.0,Full time employee,DBA,No,5.0,2,Masters,No,"Yes, and they're currently valid",45.0,1,Private business,North America
2,2,85000.0,United States,Microsoft SQL Server,8.0,Full time employee,DBA,No,2.0,None,Bachelors (4 years),Yes,"No, I never have",50.0,"None, or less than 1 day per week",Private business,North America
3,3,96000.0,United States,Microsoft SQL Server,5.0,Full time employee,DBA,No,5.0,None,Masters,No,"No, I never have",45.0,1,Private business,North America
6,6,78000.0,United States,Azure SQL DB,5.0,Full time employee,DBA,No,10.0,None,Associates (2 years),Yes,"Yes, but they expired",60.0,"None, or less than 1 day per week",Private business,North America
7,7,123000.0,United States,Microsoft SQL Server,7.0,Full time employee,DBA,No,7.0,2,Bachelors (4 years),Yes,"Yes, but they expired",45.0,3,Private business,North America

In [4]:
salary_bins = [0, 10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000, 110000, 120000, 130000, 140000, 150000, 160000, 170000, 180000, 190000, 200000, 210000, 220000, 230000, 240000, 250000, 260000]
salary_bin_names = [5000, 15000, 25000, 35000, 45000, 55000, 65000, 75000, 85000, 95000, 105000, 115000, 125000, 135000, 145000, 155000, 165000, 175000, 185000, 195000, 205000, 215000, 225000, 235000, 245000, 255000]
salary_df1["averagesalaryusdbins"] = pd.cut(salary_df1["salaryusd"], salary_bins, labels=salary_bin_names, include_lowest=True)

salary_df1 = salary_df1.loc[(salary_df1["averagesalaryusdbins"] != 255000)]


salary_df1["avgsalaryusdbins_int"] =salary_df1["averagesalaryusdbins"].astype(int)

salary_df1.dtypes

id                               int64
salaryusd                      float64
country                         object
primarydatabase                 object
yearswiththisdatabase          float64
employmentstatus                object
jobtitle                        object
managestaff                     object
yearswiththistypeofjob         float64
otherpeopleonyourteam           object
education                       object
educationiscomputerrelated      object
certifications                  object
hoursworkedperweek             float64
telecommutedaysperweek          object
employmentsector                object
region                          object
averagesalaryusdbins          category
avgsalaryusdbins_int             int32
dtype: object

In [5]:
# sets X as every columns except koi_disposition
X1 = salary_df1.drop("averagesalaryusdbins", axis=1)
X2 = X1.drop("avgsalaryusdbins_int", axis=1)
X3 = X2.drop("id", axis=1)
X = X3.drop("salaryusd", axis=1)
# sets y to koi_disposition
y = salary_df1["avgsalaryusdbins_int"].values.reshape(-1, 1)

print(X.shape, y.shape)

(5474, 15) (5474, 1)

In [6]:
X_encoded = pd.get_dummies(X)
print(X_encoded.shape, y.shape)

X_encoded

(5474, 141) (5474, 1)

,yearswiththisdatabase,yearswiththistypeofjob,hoursworkedperweek,country_Albania,country_Argentina,country_Australia,country_Austria,country_Bahrain,country_Belarus,country_Belgium,...,employmentsector_Private business,region_Africa,region_Asia,region_Australia,region_Eastern Europe,region_Latin America,region_Middle East,region_North America,region_South America,region_Western Europe
0,10.0,5.0,45.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2,8.0,2.0,50.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,5.0,5.0,45.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
6,5.0,10.0,60.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
7,7.0,7.0,45.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6642,10.0,3.0,40.0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
6645,4.0,5.0,40.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
6647,12.0,8.0,40.0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
6648,4.0,8.0,40.0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
6650,7.0,7.0,35.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical


# Split data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, random_state=115, stratify=y)

In [8]:
X_train.head()

,yearswiththisdatabase,yearswiththistypeofjob,hoursworkedperweek,country_Albania,country_Argentina,country_Australia,country_Austria,country_Bahrain,country_Belarus,country_Belgium,...,employmentsector_Private business,region_Africa,region_Asia,region_Australia,region_Eastern Europe,region_Latin America,region_Middle East,region_North America,region_South America,region_Western Europe
3147,8.0,2.0,45.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3486,18.0,0.0,50.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3382,14.0,0.0,50.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
937,10.0,6.0,45.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3985,20.0,17.0,42.0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [9]:
# Scale your data
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Create the SVC Model
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train_scaled, y_train)

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVC(kernel='linear')

In [11]:
print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Training Data Score: 0.28964677222898905
Testing Data Score: 0.19284149013878743

In [12]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10],
              'gamma': [0.0001, 0.001, 0.01]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [13]:
# Train the model with GridSearch
grid.fit(X_train_scaled, y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
[CV] C=1, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.175, total=   4.3s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    4.3s remaining:    0.0s
C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.197, total=   3.3s
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    7.5s remaining:    0.0s
C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.188, total=   5.0s
[CV] C=1, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.201, total=   4.8s
[CV] C=1, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=1, gamma=0.0001, score=0.197, total=   4.9s
[CV] C=1, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.175, total=   4.7s
[CV] C=1, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.197, total=   4.7s
[CV] C=1, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.188, total=   4.7s
[CV] C=1, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.201, total=   4.7s
[CV] C=1, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=1, gamma=0.001, score=0.197, total=   5.1s
[CV] C=1, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.175, total=   4.8s
[CV] C=1, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.197, total=   4.6s
[CV] C=1, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.188, total=   5.7s
[CV] C=1, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.201, total=   5.6s
[CV] C=1, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=1, gamma=0.01, score=0.197, total=   4.4s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.179, total=   6.6s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.205, total=   5.3s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.179, total=   7.2s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.200, total=   6.6s
[CV] C=5, gamma=0.0001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=5, gamma=0.0001, score=0.207, total=   5.2s
[CV] C=5, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.179, total=   6.5s
[CV] C=5, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.205, total=   6.7s
[CV] C=5, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.179, total=   6.1s
[CV] C=5, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.200, total=   5.5s
[CV] C=5, gamma=0.001 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=5, gamma=0.001, score=0.207, total=   5.8s
[CV] C=5, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.179, total=   6.6s
[CV] C=5, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.205, total=   6.1s
[CV] C=5, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.179, total=   5.6s
[CV] C=5, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.200, total=   5.1s
[CV] C=5, gamma=0.01 .................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ..................... C=5, gamma=0.01, score=0.207, total=   4.9s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.185, total=   8.2s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.208, total=   9.0s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.183, total=   7.8s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.201, total=   8.3s
[CV] C=10, gamma=0.0001 ..............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................. C=10, gamma=0.0001, score=0.211, total=   9.8s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.185, total=  11.0s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.208, total=   8.5s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.183, total=   7.1s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.201, total=   7.2s
[CV] C=10, gamma=0.001 ...............................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] ................... C=10, gamma=0.001, score=0.211, total=   8.7s
[CV] C=10, gamma=0.01 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.185, total=  11.7s
[CV] C=10, gamma=0.01 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.208, total=  10.0s
[CV] C=10, gamma=0.01 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.183, total=  12.6s
[CV] C=10, gamma=0.01 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.201, total=  10.1s
[CV] C=10, gamma=0.01 ................................................

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .................... C=10, gamma=0.01, score=0.211, total=  10.9s

[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:  5.0min finished
C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GridSearchCV(estimator=SVC(kernel='linear'),
             param_grid={'C': [1, 5, 10], 'gamma': [0.0001, 0.001, 0.01]},
             verbose=3)

In [14]:
print(grid.best_params_)
print(grid.best_score_)

{'C': 10, 'gamma': 0.0001}
0.19756394640682096

In [15]:
print(f"Training Grid Score: {grid.score(X_train_scaled, y_train)}")
print(f"Testing Grid Score: {grid.score(X_test_scaled, y_test)}")

Training Grid Score: 0.3247259439707674
Testing Grid Score: 0.1964937910883857

In [16]:
# Make predictions with the hypertuned model
predictions = grid.predict(X_test_scaled)

In [17]:

# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

        5000       0.12      0.07      0.09        14
       15000       0.36      0.57      0.44        28
       25000       0.22      0.16      0.18        32
       35000       0.16      0.15      0.15        48
       45000       0.25      0.24      0.25        66
       55000       0.26      0.10      0.15        90
       65000       0.25      0.31      0.27       139
       75000       0.17      0.14      0.15       130
       85000       0.17      0.31      0.22       148
       95000       0.22      0.24      0.23       156
      105000       0.20      0.23      0.21       145
      115000       0.20      0.22      0.21       119
      125000       0.12      0.09      0.10        92
      135000       0.06      0.05      0.05        63
      145000       0.00      0.00      0.00        36
      155000       0.00      0.00      0.00        25
      165000       0.00      0.00      0.00        14
      175000       0.00      0.00      0.00         9
      185000       0.00      0.00      0.00         3
      195000       0.00      0.00      0.00         7
      205000       0.00      0.00      0.00         1
      215000       0.00      0.00      0.00         1
      225000       0.00      0.00      0.00         1
      235000       0.00      0.00      0.00         1
      245000       0.00      0.00      0.00         1

    accuracy                           0.20      1369
   macro avg       0.11      0.11      0.11      1369
weighted avg       0.18      0.20      0.18      1369

C:\Users\budchris\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))